@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .container {
        max-width: calc(100% - 40px);
        padding: 0 10px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: calc(100% - 30px);
        padding: 0 5px; 
    }

    .nav h1 {
        text-align: center;
    }

    .repos__box_item-desc h2 {
        font-size: 14px;
    }

    .sort__repos button {
        font-size: 14px;
        width: 90px;
    }

    .repos__box_item a {
        font-size: 12px;
        padding: 6px 10px;
    }
}

@media (max-width: 375px) {
    .container {
        max-width: calc(100% - 20px);
        padding: 0 5px;
    }
}